
=======
@font-face {
  font-family: Helvetica;
  src: url(/public/fonts/Helvetica.ttf);
}

@font-face {
  font-family: Helvetica Bold;
  src: url(/public/fonts/Helvetica-Bold.ttf);
}

* {
  font-family: "Helvetica";
}


/* Parte do CSS mobile */

header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* Duas colunas: logo (1fr) e menu (2fr) */
  gap: 20px;
  /* Espaçamento de 20px entre as seções */
  gap: 20px;
  /* Espaçamento entre os elementos */
  background: #fff;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 30px;
  width: 100;
}

.menu {

  grid-column: 4;
  /* Menu na segunda coluna */
  grid-row: 1;
  /* Menu na primeira linha */
}

.menu button {
  width: 45px;
  height: 45px;
  background-color: #E06939;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 40px;
  cursor: pointer;
}


.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-bar-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
  display: none;
  /* Escondido por padrão */
}

.nav-bar-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin-bottom: 5px;
}

.nav-bar-logo {
  display: flex;
  align-items: center;

}

.nav-bar-logo a {
  display: flex;
  align-items: center;
}

.nav-bar-logo img {
  width: 150px;
  height: auto;
  grid-column: 1;
  /* Logo na primeira coluna */
  grid-row: 1;
  /* Logo na primeira linha */
}

.nav-bar-menu ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  /* Escondido por padrão */
}

.nav-bar-menu ul {
  margin: 0;
  padding: 0;
}

.nav-bar-menu li {
  margin-left: 20px;
}

.nav-bar-menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.nav-bar.active .nav-bar-toggle .bar:nth-child(1) {
  transform: rotate(45deg);
  top: 0;
}

.nav-bar.active .nav-bar-toggle .bar:nth-child(2) {
  opacity: 0;
}

.nav-bar-search {
  display: none;
}

.container {
  max-width: 430px;
  /* Largura máxima do container */
  margin: 0 auto;
  /* Centraliza o container na tela */
  padding: 20px;
  /* Espaçamento interno do container */
}

body {
  background-color: #f9f9f9;
}

.card {
  font-family: Helvetica Bold;
  background-color: #fff;
  color: black;
  width: 380px;
  /* Ajuste a largura do card */
  margin: 20px auto;
  /* Centraliza o card na tela */
  border: 1px solid #ccc;
  border-radius: 15px;
  /* Arredonda os cantos do card */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card a {
  color: black;
  border-radius: 10px;
}

.card h2 {
  color: #131b53;
  font-size: 18px;
  margin: 15px 0;
  padding: 0 10px;
}

.botoes {
  display: flex;
  /* Organiza os botões em linha */
  flex-wrap: wrap;
  /* Permite que os botões sejam quebrados em várias linhas */
  justify-content: space-between;
  /* Distribui os botões uniformemente */
  margin: 10px 10px;
}

.botao {
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 15px;
  background-color: #fff;
  color: #fff;
  text-decoration: none;
  border: 1px solid #dce3e5;
  border-radius: 5px;
  transition: background-color 0.3s;
  /* Efeito de hover */
}

.botao:hover {
  background-color: #0056b3;
  /* Cor de hover */
}

.panel-conitainer {
  display: flex;
  flex-direction: column;
  /* Organizar os elementos em coluna */
  align-items: center;
  /* Alinhar os elementos horizontalmente no centro */
  width: 100%;
  /* Ocupando toda a largura da tela */
}

.panel-heading {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #E06939;
  border-radius: 10px 10px 0px 0px;
  text-align: center;

}

.panel-heading a {
  text-decoration: none;
  color: #fff;
}

.panel-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.panel-body a {
  text-decoration: none;
  color: #131b53;
}

.panel-btn {
  font-family: Helvetica Bold;
  display: flex;
  /* Organiza os botões em linha */
  flex-wrap: wrap;
  /* Permite que os botões sejam quebrados em várias linhas */
  justify-content: space-between;
  /* Distribui os botões uniformemente */
  margin: 10px 10px;
  align-items: center;
  width: 80px;
  /* Definir a largura dos botões */
  /* Definir a altura dos botões */
  margin: 10px;
  /* Adicionar espaço entre os botões */
  border: none;
  padding: 10px;
  text-decoration: none;
  color: #131B53;
  text-align: center;
}

.panel-btn img {
  margin: 0 auto;
  object-fit: cover;
}

.footer {
  display: flex;
  border-top: 2.5rem solid #EC6229;
  background-color: #242751;
  padding: 0rem 4rem 4rem 0rem;
  width: 85%;
  height: auto;
  justify-content: center;
  text-align: center;
}

.allitem {
  background-color: #242751;
  color: white;
width: 100%;
  height: 0 auto;
}

.apps {
  display: flex;
  flex-direction: row;
}

.div1 {
  margin-top: -50px;
  margin-bottom: -60px;
}
.div2{
 width: 100%;
 height: 0 auto;
}
.div3{
  display: flex;
  flex-direction: column;
  margin-left: 2.3rem;
  margin-bottom: 1rem;
}
.paragrafo{
  color: #EC6229;
  margin-top: 0.5rem;
}

.appstore {
  border: 1px solid #E06939;
  border-radius: 10px;
  width: 100rem;
  height: auto;
  justify-content: center;
  text-align: center;
  margin-right: 1rem;
}

.googleplay {
  border: 1px solid #E06939;
  border-radius: 10px;
  width: 100px;
  height: auto;
  justify-content: center;
  text-align: center;
}

.redes {
  display: flex;
  flex-direction: row;
}

.insta {
  margin-left: 0.5rem;
}

.email {
  margin-left: 0.5rem;
}

.container-marcos {
  background-color: #242751;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 430px;
  /* Largura máxima do container */
  margin: 0 auto;
  /* Centraliza o container na tela */
  padding: 20px;
  /* Espaçamento interno do container */
}

.contato{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.contato2 {
  color: #EC6229;
  flex-direction: column;
  font-size: x-small;
}

.contato0{
  font-size: x-small;
  background-color: hsl(18, 86%, 54%);
  width: 205px;
  height: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
  transform: rotate(270deg);
  position: relative;
  right: 4.4rem;
  margin-left: 4rem;
  z-index: 1;
}

.contato1 {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #273061;
  border-radius: 15px;
  position: relative;
  right: 8.5rem;
  justify-content: center;
  bottom: 0.2rem;
}

.ctt {
  align-items: center;
  display: flex;
  justify-content: center;
}

.num {
  text-align: center;
  font-size: xx-small;
  margin-top: 0.7rem;
}

.ouvidoria {
  text-align: center;
  font-size: x-small;
  margin-top: 1rem;
  color: #EC6229;
}

.loca {
  margin-left: 2.4rem;
  width: 100%;
  height: auto;
  margin-top: 2rem;
}
.body {
  text-align: center;
  justify-content: center;
}

.container-mateus {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #ff6347;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
}

.button {
  width: 70px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: transform 0.3 ease;

}

button p {
  font-size: 12px;
}

#portal1 {
  background-color: #E06939;
}

#portal2 {
  background-color: #C5552D;
}

#portal3 {
  background-color: #E06939;
}

#portal4 {
  background-color: #C5552D;
}

#portal5 {
  background-color: #E06939;
}

#mid_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border-radius: 20px;
  overflow: hidden;
  max-width: 100%;
  margin-top: 20px;
  background-color: #131b53;
  ;
  ;
}

.foto {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.grande img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}

.foto_maior img {
  border-radius: 10px
}

.fotos_menores {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 0px;
  overflow: hidden;
}

.foto_menor img {
  border-radius: 10px;
}


.pequena {
  width: 48%;
}

.pequena img {
  width: 100%;
  height: auto;
  border-radius: 0px;
}

.links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 16px;
  background-color: #ffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.body {
  text-align: center;
  justify-content: center;
}

.container-mateus {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #ff6347;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
}

.button {
  width: 70px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: transform 0.3 ease;

}

button p {
  font-size: 12px;
}

#portal1 {
  background-color: #E06939;
}

#portal2 {
  background-color: #C5552D;
}

#portal3 {
  background-color: #E06939;
}

#portal4 {
  background-color: #C5552D;
}

#portal5 {
  background-color: #E06939;
}

#mid_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border-radius: 20px;
  overflow: hidden;
  max-width: 100%;
  margin-top: 20px;
  background-color: #131b53;
  ;
  ;
}

.foto {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.grande img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}

.foto_maior img {
  border-radius: 10px
}

.fotos_menores {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 0px;
  overflow: hidden;
}

.foto_menor img {
  border-radius: 10px;
}


.pequena {
  width: 48%;
}

.pequena img {
  width: 100%;
  height: auto;
  border-radius: 0px;
}

.links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 16px;
  background-color: #ffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
@media (min-width: 100px) and (max-width:768px){
  .allitem {
    flex-direction: row;
    width: 80%;
    height: 0 auto;
  }

  .baixada {
    display: flex;
    width: auto;
    height: 0 auto;
  }

  .div1,
  .div2 {
    padding: 2rem;
    width: 100%;
    height: 0 auto;
  }

  .contato {
    width: 100%;
    height: auto;
  }

  .loca {
    width: 100%;
    height: auto;
  }
}
/* Parte do CSS do Desktop */
@media (min-width: 768px) {


  .container-mateus {
    display: none;
  }

  .container {
    width: 80%;
    /* Adjust width as needed */
    margin: 0 auto;
    /* Center the container horizontally */
    padding: 20px;
    /* Add some padding around the content */
  }

  .card {
    display: none;
  }

  .allitem {
    flex-direction: row;
    width: 80%;
    height: 0 auto;
  }

  .baixada {
    display: flex;
    width: auto;
    height: 0 auto;
  }

  .div1,
  .div2 {
    padding: 2rem;
    width: 100%;
    height: 0 auto;
  }

  .contato {
    width: 100%;
    height: auto;
  }

  .loca {
    width: 100%;
    height: auto;
  }
}