
  
    .v-line{
        border-left: thick solid #EC6228;
         height:12%;
         left: 35.2%;
         position: absolute;
         margin-top: -0.6rem;
        }
        .paragrafosecretaria{
          color: #242751;
          display: flex;
          
         
        }
        .titulosecretaria{
          margin-bottom: 4rem;
          font-size: 30px;
          color: #242751;
        
        }
        .div1{
          background-color: #242751;
          border-radius: 15px;
          color: white;
          width: 140%;
          height: 3.5rem;
          font-size: 12px;
        }
        .titulosemat{
          color: #EC6228;
          font-size: 18px;
        
        }
        .div2{
          background-color: #283161;
          border-radius: 15px;
          width: 23%;
          height: 0.7rem;
          justify-content: center;
          text-align: center;
          display: flex;
          flex-direction: row;
          margin-left: 30rem;
          margin-top: -6rem;
          font-size: 11px;
          color: white;
        }
        .rdes{
        margin-top: -2rem;
        }
        .acessorapido{
          color: #EC6228;
        }
        .div3{
          color: #242751;
          margin-left: -0.1rem;
        }
        
        .buttonsec{
          border-radius: 10px;
          height: 4rem;
          width: 40%;
          background-color: white;
          border: 1px solid black;
          outline: 50px;
          color: black;
          margin-bottom: 1.5rem;
          text-align: center;
          cursor: pointer;
        
        }
        .buttonsec:hover{
          background-color: #242751;
          color: rgb(255, 255, 255);
        }
        .buttonnot{
          border-radius: 10px;
          height: 4rem;
          width: 40%;
          background-color: white;
          border: 1px solid black;
          outline: 50px;
          color: black;
          margin-bottom: 1.5rem;
          text-align: center;
          cursor: pointer;
        }
        .buttonnot:hover{
          background-color: #242751;
          color: rgb(255, 255, 255);
        }
        .buttoncontato{
          border-radius: 10px;
          height: 4rem;
          width: 40%;
          background-color: white;
          border: 1px solid black;
          outline: 50px;
          color: black;
          margin-bottom: 1.5rem;
          text-align: center;
          cursor: pointer;
        }
        .buttoncontato:hover{
          background-color: #242751;
          color: rgb(255, 255, 255);
        }
        .buttonatribuicoes{
          margin-left: 5rem;
          border-radius: 10px;
          height: 4rem;
          width: 40%;
          background-color: white;
          border: 1px solid black;
          outline: 50px;
          color: black;
          margin-bottom: 1.5rem;
          text-align: center;
          cursor: pointer;
        }
        .buttonatribuicoes:hover{
          background-color: #242751;
          color: rgb(255, 255, 255);
        }
        .buttonlicitacoes{
          margin-left: 5rem;
          border-radius: 10px;
          height: 4rem;
          width: 40%;
          background-color: white;
          border: 1px solid black;
          outline: 50px;
          color: black;
          margin-bottom: 1.5rem;
          text-align: center;
          cursor: pointer;
        }
        .buttonlicitacoes:hover{
          background-color: #242751;
          color: rgb(255, 255, 255);
        }
        .buttonseletivo{
          margin-left: 5rem;
          border-radius: 10px;
          height: 4rem;
          width: 40%;
          background-color: white;
          border: 1px solid black;
          outline: 50px;
          color: black;
          margin-bottom: 1.5rem;
          text-align: center;
          cursor: pointer;
          
        }
        .buttonseletivo:hover{
          background-color: #242751;
          color: rgb(255, 255, 255);
        }
        .ajustes{
         margin-left: 38rem;
         margin-top: -60rem;
        }
        #ultimas-noticias{
          margin-left: 5rem;
          border-radius:20px;
          text-align: center;
          background-color: #ffff;
          box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.699);
          ;
        }
        #foto-noticias{
          border-radius:20px;
          text-align: center;
          background-color: #ffff;
          overflow: hidden;
        }
        #texto-noticias{
          font-size: medium;
          color:#242751;
          ;
        }
        
        #link-final{
          text-align: center;
        }
        

.menu {
  grid-column: 4;
  /* Menu na segunda coluna */
  grid-row: 1;
  /* Menu na primeira linha */
}
.nav-bar-logo {
  display: flex;
  align-items: center;

}

.nav-bar-logo a {
  display: flex;
  align-items: center;
}

.nav-bar-logo img {
  width: 150px;
  height: auto;
  grid-column: 1;
  /* Logo na primeira coluna */
  grid-row: 1;
  /* Logo na primeira linha */
}
.nav-bar-menu ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  /* Escondido por padrão */
}

.nav-bar-menu ul {
  margin: 0;
  padding: 0;
}

.nav-bar-menu li {
  margin-left: 20px;
}

.nav-bar-menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width:1400px){

  .container-semat{
    width: 72%;
    /* Adjust width as needed */
    margin: 0 auto;
    /* Center the container horizontally */
    padding: 20px;
    /* Add some padding around the content */
  }
  .h2psecretarias{
    color: #242751;
  }
  .iconajuste{
    margin-left: 50rem;
    display: flex;
    
  }
  .v-line{
    border-left: thick solid #EC6228;
    height:14%;
    left: 15.4%;
    margin-top: 1.5rem;
    position: absolute;
    top: 5;
   }
  .div1-semat{
    background-color: #242751;
    border-radius: 15px;
    padding: 0.6rem;
    padding-left: 1.5rem;
  }
  .h2div1{
    color: #EC6228;
    top: 1rem;
  }
  .pdiv1{
    color: white;
  }
  .botoes{
    display: flex;
    flex-direction: row;
  }
  .botaosec{
    border-radius: 10px;
    border: none;
    margin-bottom: 1rem;
  }
  .botoessemat2{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }
  .botaosec:hover{
    cursor: pointer;
    background-color: #242751;
    color: white;
  }
}
